/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* wrapper tabellone 1-4 cartelle */
.my_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* TABELLONE */
h1{
    text-align: center;
}
/* wrapper tabellone */
.my_container{
    
}
/* div contenitore tabellone */
.tabellone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(241, 250, 250);
}
/* div contenitore scheda tabellone */
.scheda-tab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid red;
    margin: 5px;
    width: calc((100% / 2) - 10px);
}
/* singola cella */
.cella{
    width: calc((100% / 5) - 10px);
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}
/* CARTELLE LATERALI */
.my_col{
    display: flex  ;
    flex-direction: column;
    justify-content: space-between;
}
.cartella-singola{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 100%;
}
.cella-cartella{
    width: calc((100% / 5) - 10px);
    margin: 5px;
    border: 1px solid green;
}