/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.text-centering{
    text-align: center;
    width: 100%;
    padding: 0 20px;
}
main{
    background-color: aqua;
}
/* wrapper tabellone 1-4 cartelle */
.my_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* TABELLONE */
h1{
    text-align: center;
}
/* wrapper tabellone */
.my_container{
    width: 100%;
}
/* div contenitore tabellone */
.tabellone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(241, 250, 250);
}
/* div contenitore scheda tabellone */
.scheda-tab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid red;
    margin: 5px;
    width: calc((100% / 2) - 10px);
}
/* singola cella tabellone*/
.cella{
    width: calc((100% / 5) - 10px);
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}
/* CARTELLE LATERALI */
.my_col{
    display: flex  ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.cartella-singola{
    display: flex;
    flex-direction:column ;
    border: 1px solid red;
    width: 100%;
    margin: auto;
    background-color: rgb(241, 250, 250);
}
.riga{
    display: flex; 
    flex-direction: row;
    width: 100%;
}
.cella-cartella{
    width: calc((100% / 9) - 10px);
    margin: 5px;
    border: 1px solid green;
    padding: 0 5px;
    display: flex;
    justify-content: center;
}
/* in forse */
.cella-cartella h2{
    font-size: 27px;
    
}
/* cartelle sotto */
.spazio{
    width: 34%;
}
.cartella-singola-sotto{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 100%;
    background-color: rgb(241, 250, 250);
}
.spaziamento{
    margin-top: 20px;
}
.pecetta{
    background-color:lime;
}